{{> head}}

    <main class="wrap-page">
        <div class="page-title">
                {{#tag}}
                    <h1>{{name}} <sup>({{postsNumber}})</sup></h1>
                    {{#if description}}
                    <p>{{description}}</p>
                    {{/if}}
                {{/tag}}
        </div>

        {{#each posts}}
        <article class="card">
          <div class=card-text>
              <h2>
                  <a href="{{url}}"> {{title}} </a>
              </h2>

              <p>{{{excerpt}}}</p>

              <div class=card-meta>
                <div>
                  {{#author}}
                     {{#if @config.custom.authorAuthor}}
                     {{#if avatar}}
                     <a href="{{url}}" class="feed__author invert">
                       {{#avatarImage}}
                         <amp-img
                             src="{{url}}"
                             alt="{{alt}}"
                             class="card-meta-author"
                             height="{{height}}"
                             layout="responsive"
                             width="{{width}}">
                         </amp-img>
                       {{/avatarImage}}
                     </a>
                     {{/if}}
                     {{/if}}
                  {{/author}}
                {{#if tags}}
                 {{#each tags}}
                   <a class=btn href="{{url}}">{{name}}</a>
                 {{/each}}
                {{/if}}
                </div>
                <div class=time-author>
                  {{#author}}
                  <a href="{{url}}">{{name}}</a>
                  {{/author}}
                <time datetime="{{date modifiedAt 'YYYY-MM-DDTHH:mm'}}">
                      {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                         {{date modifiedAt @config.custom.formatDate}}
                      {{else}}
                         {{date modifiedAt @config.custom.formatDateCustom}}
                      {{/checkIf}}
                </time>
              </div>
             </div>
          </div>

        </article>
        {{/each}}

        {{> pagination}}

    </main>

{{> footer}}
